@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9e9e9;
  --foreground: #171717;
}


body {
  overflow-y:auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  height:100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/*이미지 슬라이더 추가*/
@keyframes slide-images {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-images {
  animation: slide-images 10s linear infinite;
}

